<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Inicio de Sesión - Hogar Vital</title>
    <link rel="stylesheet" href="css/estilo_correcto_registro.css" />
    <link rel="icon" type="imagenes/png" href="imagenes/logo_icon.ico" />
  </head>
  <body>
    <div class="contenedor">
      <h1>Inicio de Sesión</h1>
      <p>¡¡Has Iniciado Sesión correctamente!!</p>
      <br />
      <br />
      <a href="pagina_inicial.html"
        ><input type="submit" value="Continuar" class="boton"
      /></a>
    </div>
  </body>
</html>