<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Contraseña - Hogar Vital</title>
    <link rel="stylesheet" href="../../css/estilo_correcto.css" />
    <link rel="icon" type="imagenes/png" href="../../imagenes/logo_icon.ico" />
  </head>
  <body>
    <div class="contenedor">
      <h1>Contraseña No modificada</h1>
      <p>¡¡Las contraseñas ingresadas no coinciden!!</p>
      <br />
      <br />
      <a href="../../Php/login.php"
        ><input type="submit" value="Volver" class="boton"
      /></a>
    </div>
  </body>
</html>