<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Documento Invalido</title>
  <link rel="stylesheet" href="../../css/estilo_correcto.css">
  <link rel="icon" type="imagenes/png" href="../../imagenes/logo_icon.ico">
</head>
<body>
  <div class="contenedor">
    <h1>Documento invalido</h1>      
    <p>¡¡No existe una persona con ese documento!!</p>
    <br>
    <br>
    <a href="../../Php/Update/Admin/Confirms/modificar_personal_confirm_buscar.php"><input type="submit" value="Reintentar" class="boton"></a>
    </div>
  </body>
</html>