<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Contraseña Incorrecta</title>
    <link rel="stylesheet" href="../css/estilo_correcto.css" />
    <link rel="icon" type="imagenes/png" href="../imagenes/logo_icon.ico" />
  </head>
  <body>
    <div class="contenedor">
      <h1>Correo o contraseña Incorrecta</h1>
      <p>¡¡Su correo o contraseña son incorrectos!!</p>
      <br />
      <br />
      <a href="../login.php"
        ><input type="submit" value="Reintentar" class="boton"
      /></a>
    </div>
  </body>
</html>
