<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Proveedor Incorrecto</title>
  <link rel="stylesheet" href="../css/estilo_correcto.css">
  <link rel="icon" type="imagenes/png" href="../imagenes/logo_icon.ico">
</head>
<body>
  <div class="contenedor">
    <h1>Nombre Invalido</h1>      
    <p>Ya existe una proveedor con ese nombre</p>
    <br>
    <br>
    <a href="../codigo_registro_proveedor.php"><input type="submit" value="Reintentar" class="boton"></a>
    </div>
  </body>
</html>