<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Marca Incorrecto</title>
    <link rel="stylesheet" href="../../css/estilo_correcto.css" />
    <link rel="icon" type="imagenes/png" href="../../imagenes/logo_icon.ico" />
  </head>
  <body>
    <div class="contenedor">
      <h1>Nombre Invalido</h1>
      <p>¡¡Ya existe una marca con ese nombre!!</p>
      <br />
      <br />
      <a href="../../Php/Registers/Marca/codigo_registro_marca.php"
        ><input type="submit" value="Reintentar" class="boton"
      /></a>
    </div>
  </body>
</html>
