body{
	font-size: 18px;
	font-family: sans-serif;
	background-color: #437DA1; 
}

.perfil{
	background-color: #232655;
	color: white;
	top: 23%;
	left: 18%;
	width: 290px;
	height: 250px;
	position: absolute;
	transform: translate(-50%, -50%);
	padding: 10px 30px;
	border: 5px solid white;

}
.perfil1{
	background-color: #232655;
	color: white;
	top: 70%;
	left: 18%;
	width: 290px;
	height: 250px;
	position: absolute;
	transform: translate(-50%, -50%);
	padding: 10px 30px;
	border: 5px solid white;
}
.perfil2{
	background-color: #437DA1;
	color: white;
	top: 50%;
	left: 50%;
	width: 230px;
	height: 220px;
	position: absolute;
	transform: translate(-50%, -50%);
	padding: 10px 30px;
	border: 5px solid white;
}

#img1 {
	width: 230px;
  	height: 200px;
  	border-radius: 50%;
  	left: 11%;
  	position: relative;
  	top: 2%;
}

.campos1{
	color:white;
	margin-left:-13%;
	top: 8%;
	position: absolute;
	padding: 10px;
}
.campos2{
	color:white;
	margin-left:-13%;
	top: 19%;
	position: absolute;
	padding: 10px;
}
.campos3{
	color:white;
	margin-left:-13%;
	top: 29.5%;
	position: absolute;
	padding: 10px;
}
.campos4{
	color:white;
	margin-left:-13%;
	top: 39.5%;
	position: absolute;
	padding: 10px;
}
.campos5{
	color:white;
	margin-left:-13%;
	top: 49.5%;
	position: absolute;
	padding: 10px;
}


.info{
background-color: #232655;
	color: white;
	top: -7.64%;
	left: 220%;
	width: 700px;
	height: 563.6px;
	position: absolute;
	transform: translate(-50%, -50%);
	padding: 10px 30px;
	border: 5px solid white;

}
.boton2 {
	border: none;
	outline: none;
	margin-left: -65%;
	height: 40px;
	width: 295px;
	background: #437DA1;
	color: white;
	font-size: 18px;
	
	position: absolute;
	top: 83%;
}
.boton2:hover{
	cursor: pointer;
  	background: #D4C163;
  	color: black;
}
#a1{
	border-bottom:2px	solid	white;
	top: 18%;
	position: absolute;
	width: 250px;
	left: 1%;
	
}
#a2{
	border-bottom:2px	solid	white;
	top: 29%;
	position: absolute;
	width: 250px;
	left: 1%;
	
}
#a3{
	border-bottom:2px	solid	ehite;
	top: 39%;
	position: absolute;
	width: 250px;
	left: 1%;
	
}
#a4{
	border-bottom:2px	solid	white;
	top: 49%;
	position: absolute;
	width: 250px;
	left: 1%;
	
}
#a5{
	border-bottom:2px	solid	white;
	top: 59%;
	position: absolute;
	width: 250px;
	left: 1%;
	
}

.boton3 {
	border: none;
	outline: none;
	margin-left: 1%;
	height: 40px;
	width: 525px;
	background: #232655;
	color: white;
	font-size: 25px;
	position: absolute;
	top: 23.5%;
}
.boton3:hover{
	cursor: pointer;
  	background: #D4C163;
  	color: black;
  }
 .boy{
 	background-color:#437DA1;
	color: white;
	top: -63%;
	left: 220%;
	width: 540px;
	height: 60px;
	position: absolute;
	transform: translate(-50%, -50%);
	padding: 10px 30px;
	border: 5px solid white;

 }
 .boy1{
 	background-color:#437DA1;
	color: white;
	top: -8%;
	left: 220%;
	width: 540px;
	height: 60px;
	position: absolute;
	transform: translate(-50%, -50%);
	padding: 10px 30px;
	border: 5px solid white;

 }
 .boy2{
 	background-color:#437DA1;
	color: white;
	top: 50%;
	left: 220%;
	width: 540px;
	height: 60px;
	position: absolute;
	transform: translate(-50%, -50%);
	padding: 10px 30px;
	border: 5px solid white;

 }