body {
	font-size: 22px;
	font-family: Verdana;
	background: #437DA1;
}
#titulo {
	text-align: center;
	color: white;
	font-variant: small-caps;
	margin-top: 5%;
	position: relative;
}
.contenido{
	background: #232655;
	top: 30%;
	left: 22%;
	padding: 20px 20px;
	width: 700px;
	height: 100px;
	position: absolute;
	border: 4px solid white;
}
.contenido2 {
	background: #437DA1;
	padding: 10px 20px;
	width: 660px;
	height: 80px;
	position: relative;
}
.buscar {
	border: none;
	outline: none;
	background: transparent;
	border-bottom: 3px solid #DAC163;
	width: 83%;
	height: 38%;
	top: 22%;
	position: absolute;
	color: white;
	font-size: 20px; 
}
.botona {
	background: #232655;
	width: 60px;
	height: 40px;
	border: 2px solid white;
	position: relative;
	padding: 1px;
	margin: 1.26% 0 0 91.2%;
}
.botonad {
	background: #437DA1;
	width: 30%;
	height: 25%;
	padding: 1px;
	position:relative;
	margin: 6% 0 0 11%;
}
#boton {
	width: 35px;
	margin-top: 5%;
	margin-left:20%;
	position: relative;
}
::placeholder {
	color: white;
}

#home {
	width: 50px;
	height: 50px;
	left: 92%;
	top: 1.5%;
	position: absolute;
  }
  .icono i {
	color: #00acee;
	font-size: 80px;
	display: block;
	text-align: center;
	cursor: pointer;
  }
  
  .icono span{
	position: absolute;
	width: 120px;
	background-color: #D4C163;
	color: black;
	left: 89.1%;
	top: 10%;
	padding: 5px 0px;
	text-align: center;
	display: block;
	border-radius: 8px;
	margin: auto;
	opacity: 0;
	transition: 0.6% opacity;
  }
  
  .icono span:before{
	content: '';
	width: 10px;
	height: 10px;
	position: absolute;
	top: -11.3%;
	background: #D4C163;
	z-index: -1px;
	left: 52.9%;
	transform: translate(-50%) rotate(45deg) ;
  }
  
  .icono:hover > span{
	opacity: 1;
  }
  
  span a{
	text-decoration: none;
	color: white;
  }
  
  .icono a{
	text-decoration: none;
	color: white;
  }
.contenido3 {
	width: 91%;
	height: 85%;
  left: 0.5%;
	padding: 40px 50px;
	background: #232655;
	position: relative;
	border: 4px solid white;
}
.tabla {
	background: #437DA1;
	color: white;
	width: 105%;
	height: 90%;
	top: 5%;
  	left: -2%;
  	font-size: 13px;
	border: 4px solid white;
	border-collapse: collapse;
  	position: relative;
}
div table tr {
	text-align: center;
}
tr, td{
	width: 5%;
	height: 50%;
  }
  .tr{
	font-size: 18px;
	color: white;
	background-color: #232655;
  }