body{
	font-size: 18px;
	font-family: sans-serif;
	background-color: #437DA1; 
}
.perfil{
	background-color: #232655;
	color: white;
	top: 50%;
	left: 20%;
	width: 400px;
	height: 500px;
	position: absolute;
	transform: translate(-50%, -50%);
	padding: 10px 30px;
	border: 5px solid white;
}
.perfil2{
	background-color: #437DA1;
	color: white;
	top: 50%;
	left: 20%;
	width: 380px;
	height: 470px;
	position: absolute;
	transform: translate(-50%, -50%);
	padding: 10px 30px;
	border: 5px solid white;
	font-size: 20px;
}
.perfilP{
	background-color: #232655;
	color: white;
	top: 50%;
	left: 20%;
	width: 400px;
	height: 180px;
	position: absolute;
	transform: translate(-50%, -50%);
	padding: 10px 30px;
	border: 5px solid white;
}
.perfil2P{
	background-color: #437DA1;
	color: white;
	top: 50%;
	left: 20%;
	width: 380px;
	height: 150px;
	position: absolute;
	transform: translate(-50%, -50%);
	padding: 10px 30px;
	border: 5px solid white;
	font-size: 20px;
}
.campos1{
	color:white;
	margin-left:-13%;
	top: 10%;
	position: absolute;
	padding: 10px;
}
.campos2{
	color:white;
	margin-left:-13%;
	top: 20%;
	position: absolute;
	padding: 10px;
}
.campos3{
	color:white;
	margin-left:-13%;
	top: 30.5%;
	position: absolute;
	padding: 10px;
}
.campos4{
	color:white;
	margin-left:-13%;
	top: 40.5%;
	position: absolute;
	padding: 10px;
}
.campos5{
	color:white;
	margin-left:-13%;
	top: 50.5%;
	position: absolute;
	padding: 10px;
}
.campos6{
	color:white;
	margin-left:-13%;
	top: 60.5%;
	position: absolute;
	padding: 10px;
}
.campos7{
	color:white;
	margin-left:-13%;
	top: 70.5%;
	position: absolute;
	padding: 10px;
}
.campos8{
	color:white;
	margin-left:-13%;
	top: 80.5%;
	position: absolute;
	padding: 10px;
}
.info{
	background-color: #232655;
	color: white;
	top: 50%;
	left: 190%;
	width: 680px;
	height: 500px;
	position: absolute;
	transform: translate(-50%, -50%);
	padding: 10px 30px;
	border: 5px solid white;
}
.info2{
	background-color: #437DA1;
	color: white;
	top: 50%;
	left: 50%;
	width: 660px;
	height: 470px;
	position: absolute;
	transform: translate(-50%, -50%);
	padding: 10px 30px;
	border: 5px solid white;
}
.infoP{
	background-color: #232655;
	color: white;
	top: 50%;
	left: 190%;
	width: 680px;
	height: 180px;
	position: absolute;
	transform: translate(-50%, -50%);
	padding: 10px 30px;
	border: 5px solid white;
}
.info2P{
	background-color: #437DA1;
	color: white;
	top: 50%;
	left: 50%;
	width: 660px;
	height: 150px;
	position: absolute;
	transform: translate(-50%, -50%);
	padding: 10px 30px;
	border: 5px solid white;
}
#a1{
	border-bottom:2px	solid	white;
	top: 4%;
	position: absolute;
	width: 420px;
	left: 1%;
}
#a2{
	border-bottom:2px	solid	white;
	top: 15%;
	position: absolute;
	width: 420px;
	left: 1%;
	
}
#a3{
	border-bottom:2px	solid	white;
	top: 27%;
	position: absolute;
	width: 420px;
	left: 1%;
	
}
#a4{
	border-bottom:2px	solid	white;
	top: 39%;
	position: absolute;
	width: 420px;
	left: 1%;
	
}
#a5{
	border-bottom:2px	solid	white;
	top: 51%;
	position: absolute;
	width: 420px;
	left: 1%;
	
}
#a6{
	border-bottom:2px	solid	white;
	top: 64%;
	position: absolute;
	width: 420px;
	left: 1%;
	
}
#a7{
	border-bottom:2px	solid	white;
	top: 77%;
	position: absolute;
	width: 420px;
	left: 1%;
	
}
#a8{
	border-bottom:2px	solid	white;
	top: 90%;
	position: absolute;
	width: 420px;
	left: 1%;
	
}
.boton3 {
  border: none;
  outline: none;
  height: 40px;
  width: 230px;
  left: 55%;
  top: 90%;
  background: #232655;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  position: absolute;
}
.boton3:hover{
  cursor: pointer;
  background: #D4C163;
  color: black;
}
.boton4 {
  border: none;
  outline: none;
  height: 40px;
  width: 230px;
  left: 16%;
  top: 90%;
  background: #232655;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  position: absolute;
}
.boton4:hover{
  cursor: pointer;
  background: #D4C163;
  color: black;
}
.input{
	width: 70%;
	height: 6%;
	background: white;
	left: 5%;
	position: relative;
	border: none;
	border-radius: 5px;
	font-size: 16px;
}
.input2{
	width: 70%;
	height: 6%;
	background: white;
	left: 4.3%;
	position: relative;
	border: none;
	border-radius: 5px;
	font-size: 16px;
}
.input4{
	width: 70%;
	height: 6%;
	background: white;
	left: 5.3%;
	position: relative;
	border: none;
	border-radius: 5px;
	font-size: 16px;
}
.input5{
	width: 63.6%;
	height: 5%;
	background: white;
	left: 31.6%;
	position: absolute;
	border: none;
	border-radius: 5px;
	font-size: 16px;
}
::placeholder{
	color: black;
	position: relative;
	left: 2%;
	font-size: 16px;
}
.input::placeholder{
	color: grey;
	left: 1%;
	position: relative;
	left: 2%;
	font-size: 16px;
}
.input4::placeholder{
	color: grey;
	left: 1%;
	position: relative;
	left: 2%;
	font-size: 16px;
}
.campotexto {
	border: none;
	outline: none;
	margin-left: -65%;
	height: 25px;
	width: 260px;
	background: #437DA1;
	color: white;
	font-size: 18px;
	left: 72%;
	position: absolute;
	top: 37.5%;
	text-align: center;
}
.campotexto:hover{
	cursor: pointer;
  	background: #D4C163;
  	color: black;
}
.ldireccion{
	top: 79.5%;
	position: absolute;
}
#a1P{
	border-bottom:2px	solid	white;
	top: 20%;
	position: absolute;
	width: 420px;
	left: 1%;
}
#a2P{
	border-bottom:2px	solid	white;
	top: 60%;
	position: absolute;
	width: 420px;
	left: 1%;
	
}
.campos1{
	color:white;
	margin-left:-13%;
	top: 20%;
	position: absolute;
	padding: 10px;
}
.campos2{
	color:white;
	margin-left:-13%;
	top: 60%;
	position: absolute;
	padding: 10px;
}
.boton3P {
	border: none;
	outline: none;
	height: 40px;
	width: 230px;
	left: 55%;
	top: 69%;
	background: #232655;
	color: white;
	font-size: 18px;
	border-radius: 10px;
	position: absolute;
  }
  .boton3P:hover{
	cursor: pointer;
	background: #D4C163;
	color: black;
  }
  .boton4P {
	border: none;
	outline: none;
	height: 40px;
	width: 230px;
	left: 16%;
	top: 69%;
	background: #232655;
	color: white;
	font-size: 18px;
	border-radius: 10px;
	position: absolute;
  }
  .boton4P:hover{
	cursor: pointer;
	background: #D4C163;
	color: black;
  }
  .input4P{
	width: 70%;
	height: 6%;
	background: white;
	position: relative;
	border: none;
	border-radius: 5px;
	font-size: 16px;
}
.inputIM{
	width: 70%;
	height: 6%;
	margin-left: 9%;
	background: white;
	position: relative;
	border: none;
	border-radius: 5px;
	font-size: 16px;
}
.inputNM{
	width: 70%;
	height: 6%;
	margin-left: 1%;
	background: white;
	position: relative;
	border: none;
	border-radius: 5px;
	font-size: 16px;
}