  body{
	font-size: 22px;
	font-family: sans-serif;
	background: #437DA1;
}
.imgp {
	width: 60px;
	height: 60px;
  left: 0.5%;
  position: relative;
}
.titulo{
	color: white;
	font-variant: small-caps;
	font-size: 50px;
	text-align: center;
}
.contenido {
	width: 65%;
	height: 85%;
  left: 12.5%;
	padding: 40px 50px;
	background: #232655;
	position: relative;
	border: 4px solid white;
}
.tabla {
	background: #437DA1;
	color: white;
	width: 100%;
	height: 80%;
	left: 20%;
	top: 20%;
	border: 4px solid #D4C163;
	border-collapse: collapse;
}
div table tr {
	text-align: center;
}
.boton {
	width: 50px;
	padding: 10px;
}
#boton {
	border: none;
  outline: none;
  height: 40px;
  width: 180px;
  left: 6%;
  top: 2.5%;
  background: #232655;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  position: absolute;
}
#boton:hover{
  cursor: pointer;
  background: #D4C163;
  color: black;
}
#home {
  width: 50px;
  height: 50px;
  left: 109%;
  top: -97%;
  position: absolute;
}
.icono i {
  color: #00acee;
  font-size: 80px;
  display: block;
  text-align: center;
  cursor: pointer;
}

.icono span{
  position: absolute;
  width: 120px;
  background-color: #D4C163;
  color: black;
  left: 105%;
  top: -73%;
  padding: 5px 0px;
  text-align: center;
  display: block;
  border-radius: 8px;
  margin: auto;
  opacity: 0;
  transition: 0.6% opacity;
}

.icono span:before{
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: -11.3%;
  background: #D4C163;
  z-index: -1px;
  left: 52.9%;
  transform: translate(-50%) rotate(45deg) ;
}

.icono:hover > span{
  opacity: 1;
}

span a{
  text-decoration: none;
  color: white;
}

.icono a{
  text-decoration: none;
  color: white;
}
#t1{
  position: absolute;
  left: 8%;
  top: 5%;
  color: white;
	font-variant: small-caps;
}
#t2{
  position: absolute;
  left: 29%;
  top: 4.9%;
  color: white;
	font-variant: small-caps;
}
#t3{
  position: absolute;
  left: 44.2%;
  top: 4.9%;
  color: white;
	font-variant: small-caps;
}
#t4{
  position: absolute;
  left: 61.4%;
  top: 4.9%;
  color: white;
	font-variant: small-caps;
}
#t5{
  position: absolute;
  left: 80%;
  top: 4.9%;
  color: white;
	font-variant: small-caps;
}
tr, td{
  width: 20%;
}