body{
	font-family: sans-serif;
	background-color: #437DA1;
	font-size: 16px;
	
}
.titulo{
	text-align:center;
	position: relative;
	top: -2%;
}
.contenido{
	background-color: #232655;
	color: white;
	padding: 60px 30px;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 450px;
	height: 425px;
	position: absolute;
	border: 4px solid white;
}
.icodigo{
	border: none;
	outline: none;
	background: transparent;
	margin-left: 0.1%;
	margin-top: 1%;
	border-bottom: 4px solid #D4C163;
	width: 42.2%;
	color: white;
	position: absolute;
}
.icodigo::placeholder{
	color: white;
}
#lnombre{
	position: absolute;
	left: 56%;
}
.inombre{
	border: none;
	outline: none;
	background: transparent;
	margin-left: 48.1%;
	margin-top: 1%;
	border-bottom: 4px solid #D4C163;
	width: 42.2%;
	color: white;
	position: absolute;
}
.inombre::placeholder{
	color: white;
}
.icantidad{
	border: none;
	outline: none;
	background: transparent;
	margin-left: 0.1%;
	margin-top: 1%;
	border-bottom: 4px solid #D4C163;
	width: 42.2%;
	color: white;
	position: absolute;
}
.icantidad::placeholder{
	color: white;
}
#lfechaven{
	position: absolute;
	left: 56%;
}
#ifechaven{
	border: none;
	outline: none;
	background: transparent;
	margin-left: 48.1%;
	margin-top: 0.8%;
	border-bottom: 4px solid #D4C163;
	width: 42.2%;
	color: white;
	position: absolute;
}
#ifechaven::placeholder{
	color: white;
}
#ifecharec{
	border: none;
	outline: none;
	background: transparent;
	margin-left: 0.1%;
	margin-top: 1%;
	border-bottom: 4px solid #D4C163;
	width: 42.2%;
	color: white;
	position: absolute;
}
#ifecharec::placeholder{
	color: white;
}
.contenido .img{
	width: 130px;
  	height: 130px;
  	border-radius: 50%;
  	position: absolute;
  	top: -70px;
  	left: calc(50% - 62px);
}
.boton{
	border: none;
  	outline: none;
  	height: 40px;
  	width: 220px;
  	background: #437DA1;
  	color: white;
  	font-size: 18px;
  	border-radius: 20px;
  	margin-top: 11%;
  	position: absolute;
}
.boton:hover{
	cursor: pointer;
  	background: #D4C163;
  	color: black;
}
.boton2 {
	border: none;
	outline: none;
	margin-left: 46%;
	height: 40px;
	width:220px;
	background: #437DA1;
	color: white;
	font-size: 18px;
	border-radius: 20px;
	margin-top: 11%;
	position: absolute;
}
.boton2:hover{
	cursor: pointer;
  	background: #D4C163;
  	color: black;
}
div form label{
	left: 2%;
	position: relative;
}
#opcion {
  	width: 43%;
  	height: 5%;
  	left: 54%;
	margin-top: 1%;
  	position: absolute;
  	background: transparent;
  	border: solid #D4C163;
  	outline: none;
  	color: white;
}
#opcion option{
	color: white;
	background-color: #437DA1;
}
#opcion2 {
	width: 43%;
	height: 5%;
	margin-top: 1%;
	position: absolute;
	background: transparent;
	border: solid #D4C163;
	outline: none;
	color: white;
}
#opcion2 option{
  color: white;
  background-color: #437DA1;
}
#opcion3 {
	width: 43%;
	height: 5%;
	left: 54%;
  margin-top: 1%;
	position: absolute;
	background: transparent;
	border: solid #D4C163;
	outline: none;
	color: white;
}
#opcion3 option{
  color: white;
  background-color: #437DA1;
}
#opcion4 {
  width: 43%;
  height: 5%;
  margin-top: 1%;
  position: absolute;
  background: transparent;
  border: solid #D4C163;
  outline: none;
  color: white;
}
#opcion4 option{
color: white;
background-color: #437DA1;
}
#lcategoria{
	position: absolute;
	left: 56%;
}
#llotem{
	position: absolute;
	left: 56%;
}
#lmarca{
	position: absolute;
	left: 56%;
}
#imarca {
	width: 43%;
	height: 5%;
	left: 54%;
	position: absolute;
	background: transparent;
	border: solid #D4C163;
	outline: none;
	color: white;
}
#imarca option{
  color: white;
  background-color: #437DA1;
}