body {
    margin: 0;
    padding: 0;
    background: #437DA1;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    font-size: 16px;
  }
  .contenedor {
    width: 480px;
    height: 350px;
    background: #232655;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -55%);
    box-sizing: border-box;
    padding: 50px 30px;
    border: 4px solid white;
  }
  .contenedor h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  .contenedor label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  .contenedor .campos {
    width: 100%;
    margin-bottom: 20px;
  }
  .contenedor .boton{
    width: 42%;
    margin-bottom: 20px;
  }
  .contenedor .boton2{
    width: 42%;
    margin-bottom: 20px;
  }
  .campos {
    border: none;
    border-bottom: 3px solid #D4C163;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 14px;
  }
  .boton {
    border: none;
    outline: none;
    height: 40px;
    background: #437DA1;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    left: 8%;
    bottom: 2%;
    position: fixed;
  }
  .boton:hover {
    cursor: pointer;
    background: #D4C163 ;
    color: #000;
  }
  .boton2 {
    border: none;
    outline: none;
    height: 40px;
    background: #437DA1;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    left: 52%;
    bottom: 2%;
    position: fixed;
  }
  .boton2:hover {
    cursor: pointer;
    background: #D4C163 ;
    color: #000;
  }
  p{
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
  }
  .contenedor1 {
    width: 500px;
    height: 350px;
    background: #232655;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -55%);
    box-sizing: border-box;
    padding: 50px 30px;
    border: 4px solid white;
  }
  .contenedor1 h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    bottom: 10%;
    position: relative;
  }
  .contenedor1 label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  .contenedor1 .campos {
    width: 100%;
    margin-bottom: 20px;
  }
  .contenedor1 .boton_modifi{
    width: 42%;
    margin-bottom: 20px;
  }
  .contenedor1 .boton2{
    width: 42%;
    margin-bottom: 20px;
  }
  .boton_modifi{
    border: none;
    outline: none;
    height: 40px;
    background: #437DA1;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    right: 55%;
    bottom: 10%;
    position: fixed;
  }
  .boton_modifi:hover {
    cursor: pointer;
    background: #D4C163 ;
    color: #000;
  }
  .boton_elimi{
    border: none;
    outline: none;
    height: 40px;
    width: 200px;
    background: #437DA1;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    right: 5%;
    bottom: 16%;
    position: fixed;
  }
  .boton_elimi:hover {
    cursor: pointer;
    background: #D4C163 ;
    color: #000;
  }
  .boton3 {
    border: none;
    outline: none;
    height: 40px;
    width: 200px;
    background: #437DA1;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    left: 55%;
    bottom: 16%;
    position: fixed;
  }
  .boton3:hover {
    cursor: pointer;
    background: #D4C163 ;
    color: #000;
  }
  .imga{
    width: 150px;
    height: 150px;
    bottom: 20%;
    left: 33%;
    position: relative;
  }
  .imga2{
    width: 150px;
    height: 150px;
    bottom: 80%;
    left: 64%;
    position: relative;
  }
  .imgu{
    width: 150px;
    height: 150px;
    bottom: 20%;
    left: 3%;
    position: relative;
  }
  .imgu2{
    width: 150px;
    height: 150px;
    bottom: 83%;
    left: 61%;
    position: relative;
  }