body{
	font-size: 18px;
	font-family: sans-serif;
	background-color: #437DA1; 
}
.imgp {
  width: 50px;
  height: 50px;
  top: 0.5%;
  position: absolute;
}
.Medicamentos{
	background-color: #232655;
	color: white;
	padding: 30px 30px;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 220px;
	height: 190px;
	position: absolute;
	border: 5px solid white;
}
.lavanderia{
	background-color: #232655;
	color: white;
	padding: 30px 30px;
	top: 30%;
	left: 82%;
	transform: translate(-50%, -50%);
	width: 220px;
	height: 190px;
	position: absolute;
	border: 5px solid white;
}
.aseo{
	background-color: #232655;
	color: white;
	top: 30%;
	left: 18%;
	width: 220px;
	height: 190px;
	position: absolute;
	transform: translate(-50%, -50%);
	padding: 30px 30px;
	border: 5px solid white;

}
.comida{
  background-color: #232655;
  color: white;
  top: 75%;
  left: 18%;
  width: 220px;
  height: 190px;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 30px 30px;
  border: 5px solid white;

}
.oficina{
  background-color: #232655;
  color: white;
  top: 75%;
  left: 50%;
  width: 220px;
  height: 190px;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 30px 30px;
  border: 5px solid white;

}
.enseres{
  background-color: #232655;
  color: white;
  top: 75%;
  left: 82%;
  width: 220px;
  height: 190px;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 30px 30px;
  border: 5px solid white;

}
#img {
	width: 200px;
  	height: 140px;
  	
  	left:8%;
  	position: relative;
}
#img2 {
	width: 200px;
  height: 140px;
  left: 8%;
  position: relative;
}
#boton{
	border: none;
  	outline: none;
  	height: 40px;
  	width: 255px;
  	left: 5%;
  	background: #437DA1;
  	color: white;
  	font-size: 18px;
  	border-radius: 20px;
  	position: absolute;
}
#boton:hover{
	cursor: pointer;
  	background: #D4C163;
  	color: black;
}
#boton2 {
	border: none;
	outline: none;
	height: 40px;
	width: 260px;
	left: 5%;
	background: #437DA1;
	color: white;
	font-size: 18px;
	border-radius: 20px;
	position: absolute;
}
#boton2:hover{
	cursor: pointer;
  	background: #D4C163;
  	color: black;
}
#boton3 {
  border: none;
  outline: none;
  height: 40px;
  width: 190px;
  left: 5%;
  background: #232655;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  position: absolute;
}
#boton3:hover{
  cursor: pointer;
    background: #D4C163;
    color: black;
}
#home {
  width: 50px;
  height: 50px;
  left: 92.7%;
  top: 0.5%;
  position: absolute;
}
.icono i {
  color: #00acee;
  font-size: 80px;
  display: block;
  text-align: center;
  cursor: pointer;
}

.icono span{
  position: absolute;
  width: 120px;
  background-color: #D4C163;
  color: black;
  left: 90.15%;
  padding: 5px 0px;
  top: 9%;
  text-align: center;
  display: block;
  border-radius: 8px;
  margin: auto;
  opacity: 0;
  transition: 0.6% opacity;
}

.icono span:before{
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: -6px;
  background: #D4C163;
  z-index: -1px;
  left: 50%;
  transform: translate(-50%) rotate(45deg) ;
}

.icono:hover > span{
  opacity: 1;
}

span a{
  text-decoration: none;
  color: white;
}

.icono a{
  text-decoration: none;
  color: white;
}