body{
	font-family: sans-serif;
	background-color: #437DA1;
	font-size: 16px;
	
}
.titulo{
	text-align:center;
	position: relative;
	top: -2%;
}
.contenido{
	background-color: #232655;
	color: white;
	padding: 60px 30px;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 450px;
	height: 445px;
	position: absolute;
	border: 4px solid white;
}
.input{
	position: relative;; 
	padding: 7px;
	border: none;
	border-bottom: 4px solid #D4C163;
	background: transparent;
	height: 10px;
	width: 100%;
	color: white;
}
.contenido .img{
	width: 130px;
  	height: 130px;
  	border-radius: 50%;
  	position: absolute;
  	top: -70px;
  	left: calc(50% - 62px);
}
.boton{
	border: none;
  	outline: none;
  	height: 40px;
  	width: 220px;
  	background: #437DA1;
  	color: white;
  	font-size: 18px;
  	border-radius: 20px;
  	top: 90%;
  	position: absolute;
}
.boton:hover{
	cursor: pointer;
  	background: #D4C163;
  	color: black;
}
.boton2 {
	border: none;
	outline: none;
	margin-left: 46%;
	height: 40px;
	width:220px;
	background: #437DA1;
	color: white;
	font-size: 18px;
	border-radius: 20px;
	top: 90%;
	position: absolute;
}
.boton2:hover{
	cursor: pointer;
  	background: #D4C163;
  	color: black;
}
div form label{
	left: 2%;
	position: relative;
}
#opcion {
  	width: 43%;
  	height: 5%;
  	left: 54%;
  	top: 80.9%;
  	position: absolute;
  	background: transparent;
  	border: solid #D4C163;
  	outline: none;
  	color: white;
}
#opcion option{
	color: white;
	background-color: #437DA1;
}
#lcategoria{
	position: absolute;
	top: 77.5%;
	left: 56%;
}
#imarca{
	border: none;
	outline: none;
	width: 45%;
	border-bottom: 4px solid #D4C163;
	background: transparent;
	position: absolute;
	color: white;
	padding: 5px;
}
#lfecha{
	margin-left: 26%;
}
#ifechain{
	border: none;
	outline: none;
	background: transparent;
	border-bottom: 4px solid #D4C163;
	width: 40%;
	position: absolute;
}
#ifechaven{
	margin-left: 46%; 
	border: none;
	outline: none;
	background: transparent;
	border-bottom: 4px solid #D4C163;
	width: 42.3%;
	position: absolute;
}