  body{
	font-size: 22px;
	font-family: sans-serif;
	background: #437DA1;
}
.imgp {
	width: 60px;
	height: 60px;
  left: 0.5%;
  position: relative;
}
.imgp1 {
	width: 60px;
	height: 60px;
  left: 16%;
  position: relative;
}
.imgp2 {
	width: 60px;
	height: 60px;
  left: 28.5%;
  position: relative;
}
.imgp3 {
	width: 60px;
	height: 60px;
  left: 55%;
  top: -1%;
  position: relative;
}
.imgmarca{
  width: 60px;
	height: 60px;
  left: 34%;
  top: -1%;
  position: relative;
}
.imgM {
	width: 40px;
	height: 40px;
  left: 1.5%;
  position: relative;
}
.imgM2 {
	width: 40px;
	height: 40px;
  left: 18%;
  position: relative;
}
.imgM3 {
	width: 40px;
	height: 40px;
  left: 35%;
  position: relative;
}
.titulo{
	color: white;
	font-variant: small-caps;
	font-size: 50px;
	text-align: center;
}
.contenido {
	width: 91%;
	height: 85%;
  left: 0.5%;
	padding: 40px 50px;
	background: #232655;
	position: relative;
	border: 4px solid white;
}
.contenido2 {
	width: 40%;
	height: 50%;
  left: 25%;
	padding: 40px 50px;
	background: #232655;
	position: relative;
	border: 4px solid white;
}
.tabla {
	background: #437DA1;
	color: white;
	width: 105%;
	height: 90%;
	top: 5%;
  left: -2%;
  font-size: 18px;
	border: 4px solid white;
	border-collapse: collapse;
  position: relative;
}
div table tr {
	text-align: center;
}
.boton {
	width: 50px;
	padding: 10px;
}
#boton {
	border: none;
  outline: none;
  height: 40px;
  width: 180px;
  left: 6%;
  top: 2.5%;
  background: #232655;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  position: absolute;
}
#boton:hover{
  cursor: pointer;
  background: #D4C163;
  color: black;
}
#boton2 {
	border: none;
  outline: none;
  height: 40px;
  width: 180px;
  left: 49.5%;
  top: 2.5%;
  background: #232655;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  position: absolute;
}
#boton2:hover{
  cursor: pointer;
  background: #D4C163;
  color: black;
}
#boton3 {
	border: none;
  outline: none;
  height: 40px;
  width: 190px;
  left: 26%;
  top: 2.5%;
  background: #232655;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  position: absolute;
}
#boton3:hover{
  cursor: pointer;
  background: #D4C163;
  color: black;
}
#boton4 {
	border: none;
  outline: none;
  height: 40px;
  width: 190px;
  left: 46.5%;
  top: 2.5%;
  background: #232655;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  position: absolute;
}
#boton4:hover{
  cursor: pointer;
  background: #D4C163;
  color: black;
}
#boton5 {
	border: none;
  outline: none;
  height: 40px;
  width: 190px;
  left: 70.5%;
  top: 2.5%;
  background: #232655;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  position: absolute;
}
#boton5:hover{
  cursor: pointer;
  background: #D4C163;
  color: black;
}
#home {
  width: 50px;
  height: 50px;
  left: 92%;
  top: 1.5%;
  position: absolute;
}
.icono i {
  color: #00acee;
  font-size: 80px;
  display: block;
  text-align: center;
  cursor: pointer;
}

.icono span{
  position: absolute;
  width: 120px;
  background-color: #D4C163;
  color: black;
  left: 89.1%;
  top: 10%;
  padding: 5px 0px;
  text-align: center;
  display: block;
  border-radius: 8px;
  margin: auto;
  opacity: 0;
  transition: 0.6% opacity;
}

.icono span:before{
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: -11.3%;
  background: #D4C163;
  z-index: -1px;
  left: 52.9%;
  transform: translate(-50%) rotate(45deg) ;
}

.icono:hover > span{
  opacity: 1;
}

span a{
  text-decoration: none;
  color: white;
}

.icono a{
  text-decoration: none;
  color: white;
}
tr, td{
  width: 10%;
  height: 50%;
}
.tr{
  color: white;
  background-color: #232655;
}

.proveedor{
  background-color: #232655;
	color: white;
	padding: 30px 30px;
	top: 75%;
	left: 35%;
	transform: translate(-50%, -50%);
	width: 220px;
	height: 190px;
	position: absolute;
	border: 5px solid white;
}

.marca{
  background-color: #232655;
	color: white;
	padding: 30px 30px;
	top: 75%;
	left: 65%;
	transform: translate(-50%, -50%);
	width: 220px;
	height: 190px;
	position: absolute;
	border: 5px solid white;
}