body{
	font-size: 18px;
	font-family: sans-serif;
	background-color: #437DA1; 
}
#home {
	width: 50px;
	height: 50px;
	left: 92%;
	top: 3%;
	position: absolute;
  }
.icono i {
	color: #00acee;
	font-size: 80px;
	display: block;
	text-align: center;
	cursor: pointer;
  }
  
  .icono span{
	position: absolute;
	width: 120px;
	background-color: #D4C163;
	color: black;
	left: 89.4%;
	top: 11%;
	padding: 5px 0px;
	text-align: center;
	display: block;
	border-radius: 8px;
	margin: auto;
	opacity: 0;
	transition: 0.6% opacity;
  }
  
  .icono span:before{
	content: '';
	width: 10px;
	height: 10px;
	position: absolute;
	top: -11.3%;
	background: #D4C163;
	z-index: -1px;
	left: 52.9%;
	transform: translate(-50%) rotate(45deg) ;
  }
  
  .icono:hover > span{
	opacity: 1;
  }
  
.perfil{
	background-color: #232655;
	color: white;
	top: 50%;
	left: 17%;
	width: 330px;
	height: 480px;
	position: absolute;
	transform: translate(-50%, -50%);
	padding: 10px 30px;
	border: 5px solid white;
}
.perfil2{
	background-color: #437DA1;
	color: white;
	top: 50%;
	left: 17%;
	width: 310px;
	height: 450px;
	position: absolute;
	transform: translate(-50%, -50%);
	padding: 10px 30px;
	border: 5px solid white;
	font-size: 20px;
}
.campos1{
	color:white;
	margin-left:-13%;
	top: 6%;
	position: absolute;
	padding: 10px;
}
.campos2{
	color:white;
	margin-left:-13%;
	top: 17%;
	position: absolute;
	padding: 10px;
}
.campos3{
	color:white;
	margin-left:-13%;
	top: 27.5%;
	position: absolute;
	padding: 10px;
}
.campos4{
	color:white;
	margin-left:-13%;
	top: 37.5%;
	position: absolute;
	padding: 10px;
}
.campos5{
	color:white;
	margin-left:-13%;
	top: 47.5%;
	position: absolute;
	padding: 10px;
}
.campos6{
	color:white;
	margin-left:-13%;
	top: 57.5%;
	position: absolute;
	padding: 10px;
}
.campos7{
	color:white;
	margin-left:-13%;
	top: 67.5%;
	position: absolute;
	padding: 10px;
}
.campos8{
	color:white;
	margin-left:-13%;
	top: 77.5%;
	position: absolute;
	padding: 10px;
}
.info{
	background-color: #232655;
	color: white;
	top: 50%;
	left: 250%;
	width: 700px;
	height: 370px;
	position: relative;
	transform: translate(-50%, -50%);
	padding: 10px 30px;
	border: 5px solid white;
}
#a1{
	border-bottom:2px	solid	white;
	top: 4%;
	position: absolute;
	width: 350px;
	left: 1%;
}
#a2{
	border-bottom:2px	solid	white;
	top: 15%;
	position: absolute;
	width: 350px;
	left: 1%;
	
}
#a3{
	border-bottom:2px	solid	white;
	top: 27%;
	position: absolute;
	width: 350px;
	left: 1%;
	
}

#a4{
	border-bottom:2px	solid	white;
	top: 39%;
	position: absolute;
	width: 350px;
	left: 1%;
	
}
#a5{
	border-bottom:2px	solid	white;
	top: 51%;
	position: absolute;
	width: 350px;
	left: 1%;
	
}
#a6{
	border-bottom:2px	solid	white;
	top: 64%;
	position: absolute;
	width: 350px;
	left: 1%;
	
}
#a7{
	border-bottom:2px	solid	white;
	top: 77%;
	position: absolute;
	width: 350px;
	left: 1%;
	
}
#a8{
	border-bottom:2px	solid	white;
	top: 90%;
	position: absolute;
	width: 350px;
	left: 1%;
	
}
.boton3 {
	border: none;
	outline: none;
	margin-left: 1%;
	height: 40px;
	width: 525px;
	background: #232655;
	color: white;
	font-size: 25px;
	position: absolute;
	top: 23.5%;
}
.boton3:hover{
	cursor: pointer;
  	background: #D4C163;
  	color: black;
}
.boy{
	background-color:#437DA1;
   color: white;
   top: -50%;
   left: 250%;
   width: 540px;
   height: 60px;
   position: relative;
   transform: translate(-50%, -50%);
   padding: 10px 30px;
   border: 5px solid white;

}
.boy2{
	background-color:#437DA1;
   color: white;
   top: -35%;
   left: 250%;
   width: 540px;
   height: 60px;
   position: relative;
   transform: translate(-50%, -50%);
   padding: 10px 30px;
   border: 5px solid white;

}