<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Modificar Proveedores - Hogar Vital</title>
  <link rel="stylesheet" href="../css/estilo_correcto_perfil.css">
  <link rel="icon" type="imagenes/png" href="../imagenes/logo_icon.ico">
</head>
<body>
  <div class="contenedor">
    <h1>Modificar Proveedores </h1>
      <p>¡¡Se han modificado con exito los datos del proveedor!!</p>
      <br>
      <br>
      <a href="../pagina_tabla_proveedor.php"><input type="submit" value="Regresar" class="boton"></a>
    </div>
  </body>
</html>