<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Contraseña Incorrecta</title>
  <link rel="stylesheet" href="../css/estilo_correcto.css">
  <link rel="icon" type="imagenes/png" href="../imagenes/logo_icon.ico">
</head>
<body>
  <div class="contenedor">
    <h1>Id invalido</h1>      
    <p>¡¡No existe un proveedor con este id!!</p>
    <br>
    <br>
    <a href="../modificar_proveedor_confirm.php"><input type="submit" value="Reintentar" class="boton"></a>
    </div>
  </body>
</html>