<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Hogar Vital - Director</title>
	<link rel="stylesheet" type="text/css" href="../css/estilo_pagina_inicial.css">
	<link rel="icon" type="imagenes/logo.png" href="../imagenes/logo_icon.ico">
</head>
<body>
<div class="perfil">
	<img src="../imagenes/perfil.png" class="imgp">
	<a href="../pagina_perfil.php"><input type="submit" id="boton" value="Perfil"></a> 
</div>
<div class="empleado">
	<img src="../imagenes/empleado.png" class="img2">
	<br>
	<br>
	<a href="../pagina_tabla_empleado.php"><input type="submit" id="boton2" value="Empleados"></a>
</div>
<div class="producto">
	<img src="../imagenes/producto.png" class="img2">
	<br>
	<br>
	<a href="pagina_inicial_producto_director.html"><input type="submit" id="boton2" value="Productos"></a>
</div>
<div class="buscar">
	<img src="../imagenes/lupa.png" class="img2">
	<br>
	<br>
	<a href="pagina_buscador_productos_director.html"><input type="submit" id="boton2" value="Buscador"></a>
</div>


<div class="icono">
<a href="../correcto_cerrar_sesion_director.php"><input type="image" id="home" alt="Volver" src="../imagenes/home.png"></a><i class="fab fa-Volver"></i>
<span>Cerrar Sesión</span>
</div>
</body>
</html>