<!DOCTYPE html>
<html>
  <head>
    <title>Hogar Vital - Empleados</title>
    <meta charset="utf-8" />
    <link rel="icon" type="imagenes/png" href="../imagenes/logo_icon.ico" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../css/estilo_index_empleados.css"
    />
  </head>
  <body>
	<div class="perfil">
		<img src="../imagenes/perfil.png" class="img2" />
		<br />
		<br />
		<a href="../Php/Perfil/Employee/pagina_perfil_empleado.php"
		  ><input type="submit" value="Perfil" id="boton2"
		/></a>
	  </div>
	  <div class="productos">
		<img src="../imagenes/producto.png" class="img2" />
		<br />
		<br />
		<a href="../Php/pagina_inicial_producto_empleado.php"
		  ><input type="submit" value="Productos" id="boton2"
		/></a>
	  </div>
	  <div class="buscador">
		<img src="../imagenes/lupa.png" class="img2" />
		<br />
		<br />
		<a href="../Php/Search/Employee/pagina_inicial_buscador_producto_empleado.php"
		  ><input type="submit" value="Buscador" id="boton2"
		/></a>
	  </div>
	  <div class="proveedor">
		<img src="../imagenes/proveedor.png" class="img2" />
		<br />
		<br />
		<a href="../../Views/Php/Tables/Employee/pagina_tabla_proveedor_empleado.php"
		  ><input type="submit" id="boton2" value="Proveedor"
		/></a>
	  </div>
	  <div class="marca">
		<img src="../imagenes/marca.png" class="img2" />
		<br />
		<br />
		<a href="../../Views/Php/Tables/Employee/pagina_tabla_marca_empleado.php"
		  ><input type="submit" id="boton2" value="Marca"
		/></a>
	  </div>
	  <div class="lote">
		<img src="../imagenes/lote.png" class="img2" />
		<br />
		<br />
		<a href="../Html/pagina_lotes_empleado.html"
		  ><input type="submit" id="boton2" value="Lotes"
		/></a>
	  </div>
    <div class="icono">
      <a href="../Php/correcto_cerrar_sesion_empleado.php"
        ><input
          type="image"
          id="home"
          alt="Volver"
          src="../imagenes/home.png" /></a
      ><i class="fab fa-Volver"></i>
      <span>Cerrar Sesión</span>
    </div>
  </body>
</html>
