<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Lotes   - Hogar Vital</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../css/estilo_pagina_inicial1.css"
    />
    <link
      rel="icon"
      type="imagenes/logo.png"
      href="../imagenes/logo_icon.ico"
    />
  </head>
  <body>
    <div class="empleado">
      <img src="../imagenes/lote_medicamento.png" class="imglm" />
      <br />
      <br />
      <a href="../Php/Tables/Employee/pagina_tabla_lote_medicamento_empleado.php"
        ><input type="submit" id="boton2" value="Lotes Medicamentos"
      /></a>
    </div>
    <div class="buscar">
      <img src="../imagenes/lote_alimento.png" class="imgla" />
      <br />
      <br />
      <a href="../Php/Tables/Employee/pagina_tabla_lote_alimento_empleado.php"
        ><input type="submit" id="boton4" value="Lotes Alimentos"
      /></a>
    </div>
    <div class="icono">
      <a href="../Html/pagina_inicial_empleado.html"
        ><input
          type="image"
          id="home"
          alt="Volver"
          src="../imagenes/home.png" /></a
      ><i class="fab fa-Volver"></i>
      <span>Volver</span>
    </div>
  </body>
</html>
