<!DOCTYPE html>
<html>
<head>
	<title>Hogar Vital - Empleados</title>
	<meta charset="utf-8">
	<link rel="icon" type="imagenes/png" href="../imagenes/logo_icon.ico">
	<link rel="stylesheet" type="text/css" href="../css/estilo_index_empleados.css">
</head>
<body>
<div class="productos">
	<img src="../imagenes/producto.png" id="img">
	<br>
	<br>
	<a href="pagina_inicial_producto_empleado.html"><input type="submit" value="Productos" id="boton"></a>
</div>
<div class="buscador">
	<img src="../imagenes/lupa.png" id="img2">
	<br>
	<br>
	<a href="../pagina_inicial_buscador_producto_empleado.php"><input type="submit" value="Buscador" id="boton2"></a>
</div>
<div class="perfil">
	<img src="../imagenes/perfil.png" id="img2">
	<br>
	<br>
	<a href="../pagina_perfil_empleado.php"><input type="submit" value="Perfil" id="boton2"></a>
</div>
<div class="icono">
<a href="../correcto_cerrar_sesion_empleado.php"><input type="image" id="home" alt="Volver" src="../imagenes/home.png"></a><i class="fab fa-Volver"></i>
<span>Cerrar Sesión</span>
</div>
</body>
</html>