<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Buscadores - Hogar Vital </title>
	<link rel="stylesheet" type="text/css" href="../css/estilo_pagina_inicial1.css">
	<link rel="icon" type="imagenes/logo.png" href="../imagenes/logo_icon.ico">
</head>
<body>
<div class="empleado">
	<img src="../imagenes/lupa_empleado.png" class="img">
	<br>
	<br>
	<a href="../pagina_inicial_buscador_empleado.php"><input type="submit" id="boton2" value="Buscar Empleados"></a>
</div>
<div class="buscar">
	<img src="../imagenes/lupa_producto.png" class="img">
	<br>
	<br>
	<a href="../pagina_inicial_buscador_producto.php"><input type="submit" id="boton4" value="Buscar Productos"></a>
</div>
<div class="icono">
<a href="../Html/pagina_inicial.html"><input type="image" id="home" alt="Volver" src="../imagenes/home.png"></a><i class="fab fa-Volver"></i>
<span>Volver</span>
</div>
</body>
</html>