<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Modificar Productos - Hogar Vital</title>
    <link rel="stylesheet" href="../css/estilo_modificar_empleado.css">
    <link rel="icon" type="imagenes/png" href="../imagenes/logo_icon.ico">
  </head>
  <body>

    <div class="contenedor1">
      <h1>¿Qué desea hacer?</h1>
        <br>
        <br>  
        <a href="../Php/Update/Employee/Confirms/modificar_producto_tablas_confirm_employee.php"><input name="modificar" type="submit" value="Modificar" class="boton_modifi"></a>
        <img src="../imagenes/editar_proveedor.png" alt="detalles" class="imga">
        <br>
        <a href="../Php/pagina_inicial_producto_empleado.php"><input type="submit" value="Volver" class="boton3"></a>
    </div>
  </body>
</html>