<!DOCTYPE html>
<html>
<head>
	<title>Productos Detallles - Hogar Vital</title>
	 <link rel="stylesheet" href="../css/estilo_pagina_producto_detalle1.css">
    <link rel="icon" type="imagenes/png" href="../imagenes/logo_icon.ico">
    <meta charset="utf-8">
</head>
<body>
<div class="perfil">
	<img src="../imagenes/producto.png" id="img1">
	<input type="submit" value="Producto" class="boton2">
</div>
<div class="perfil1">
	<div class="perfil2">
	<hr id="a1"><label for="nombre"	class="campos1">Id_producto: </label></hr>
	<br>
	<hr id="a2"><label for="nombre"	class="campos2">Nombre: </label></hr>
	<br>
	<br>
	<hr id="a3"><label for="apellido"	class="campos3" >Cantidad: </label></hr>
	<br>
	<hr id="a4"><label for="nombre"	class="campos4">Marca: </label></hr>
	<br>
	<hr id="a5"><label for="nombre"	class="campos5">Precio: </label></hr>
	<br>
	
	</div>
	<div class="info"></div>
	<div class="boy"><a href="../pagina_editar_producto_empleado.html"><input type="submit" value="Editar producto" class="boton3"></a></div>
	
	<div class="boy2"><a href="../Html/pagina_inicial_producto_empleado.html"><input type="submit" value="Volver al Inicio" class="boton3"></a></div>
</div>
</div>
</body>
</html>